<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
      <meta charset="utf-8">
      <title>My App</title>
      <link rel="stylesheet" href= "{% static "css/generalstyle.css" %}">
      <link rel="stylesheet" href= "{% static "css/bootstrap.min.css" %}">
      <link rel="stylesheet" href= "{% static "js/bootstrap.bundle.js" %}">
<link rel="stylesheet" herf="{% static "css/google-maps-admin.css" %}">
      <link rel="script" herf="{% static "js/google-maps-admin.js" %}">
<style type="text/css">
body {
    background: linear-gradient(to top right, #787878 0%, #181818 100%);
    background-attachment: fixed;

}
h1 {color:lightgray}


    .card{
         -moz-box-shadow:2px 2px 10px #181818;
     -webkit-box-shadow:2px 2px 10px #181818;
     box-shadow:2px 2px 10px #181818;
        height: auto;

    }

    p{
        color:lightgray;
    }
    .bottom-footer{
        margin-top: 100px;
       text-align: center;
       height: 80px;
        width: auto;
        bottom:0px;
        background: #808080;
    }
    header{
        height:auto;
        width: 100%;

        text-align: center;
        font: normal;

    }


       /* Set the size of the div element that contains the map */
      #map {
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */

      }
    .container{
        width:auto;
        height: auto;
    }
    a{
         height:auto;
        width: auto;
    }
  hr{
      background-color: #5d5d5d;
  }
    .list-unstyled{

        color: #C8C8C8;
        margin-top: 50px;
    }


</style>
  </head>
  <body>
 <!--start header-->
<header class="header no-fixed" style="background-image: url("")">
<img id="headerimg" src="static/images/h.png" alt="" style="width:100%;height:80%;">



<!--start logo-->
<!--end logo-->
</header>

<!--end header-->

<!--start navigation-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><b>GNSS</b></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" >
    <ul class="navbar-nav" style="position: center">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_app:test' %}">Latency</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Performance</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Station Status
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'my_app:repeatability' %}">repeatability</a>
          <a class="dropdown-item" href="{% url 'my_app:location' %}">Station location</a>
          <a class="dropdown-item" href="{% url 'my_app:geo' %}"> Station Geodetic</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!--end navigation-->
<!-- map start-->
<div class="container" id="map"></div>
 <script>
// Initialize and add the map
function initMap() {
    //var locations = [
    //    ['brisbane', - 27.470125, 153.021072],
   // ['uluru', -25.344, 131.036]];'
    var locations_value={{ myvalue|safe }};
    var locations_key={{ mykey|safe }};
    // The location of Uluru
    //var uluru = {lat: -25.344, lng: 131.036};
    var uluru={lat:11.865092944444443,lng:78.92958655555556};
    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 2, center: uluru});
    // The marker, positioned at Uluru
    //var marker = new google.maps.Marker({position: uluru, map: map});
    var infowindow = new google.maps.InfoWindow();
    var marker,i;
    for (i = 0; i < locations_value.length; i++) {


        marker = new google.maps.Marker({
             map: map,
             position: new google.maps.LatLng(locations_value[i][0], locations_value[i][1]),
             icon:'https://cdn.iconscout.com/icon/premium/png-32-thumb/gps-80-104308.png',
            });
        google.maps.event.addListener(marker, 'click', (function(marker,i) {
        return function() {
          infowindow.setContent('name:   <b>'+locations_key[i]+'</b><br/>geodetic:<br/>'+locations_value[i],);
          infowindow.open(map, marker);
        }
      })(marker, i));

    }
}
    </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxwsnFZGOL4DpvfXCpgO3QQWXzUmXe36U&callback=initMap"
  type="text/javascript"></script>

<!--end map-->
 <div class="container" style="margin-top: 40px"><h1>CorsNetwork</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet,<br/> consectetur adipiscing elit. Integer posuere erat a ante.</p>
</div>
<!--card start-->
 <div class="container" style="margin-top: 50px"  >
  <div class="card-deck" style="margin-top: 50px">
   <div class="card" style="height: 450px">
                  <img class="card-img-top" src="https://media.gettyimages.com/vectors/know-where-you-want-to-go-vector-id682478188" alt="Card image cap" style="height: 70%">

    <div class="card-body">
      <h5 class="card-title">Station Status</h5>
      <ul>
        <li><a href="{% url 'my_app:repeatability' %}" class="card-link">Station Repeatability</a></li>
          <li><a href="{% url 'my_app:location' %}" class="card-link">Station location</a></li>
           <li><a href="{% url 'my_app:geo' %}" class="card-link">Station XYZ</a></li>
        </ul>
    </div>
  </div>
  <div class="card" style="height: 450px">
   <img class="card-img-top" src="https://media.gettyimages.com/vectors/location-icon-vector-id926654488" alt="Card image cap" style="height: 70%">
    <div class="card-body">
      <h5 class="card-title">CPU performance</h5>
          <li><a href="{% url 'my_app:repeatability' %}" class="card-link">CPU usage</a></li>
          <li><a href="{% url 'my_app:location' %}" class="card-link">CPU memory</a></li>
           <li><a href="{% url 'my_app:geo' %}" class="card-link">CPU</a></li>

    </div>

  </div>
  <div class="card" >
   <img class="card-img-top" src="https://media.gettyimages.com/vectors/navigation-vector-id887302090" alt="Card image cap" style="height: 70%">

    <div class="card-body">

      <h5 class="card-title">Time Latency</h5>
 <a href="#" class="card-link">View more</a>
    </div>


     </div>
<!-end card-->
 <!--list media-->
     <ul class="list-unstyled">
  <li class="media" style="margin-top: 30px">
    <img class="mr-3" src="https://cdn.iconscout.com/icon/premium/png-128-thumb/navigation-235-660099.png" alt="Generic placeholder image">
    <div class="media-body" style="margin-top: 30px">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media my-4" style="margin-top: 30px">
    <img class="mr-3" src="static/images/icon.png" alt="Generic placeholder image">
    <div class="media-body" style="margin-top: 30px">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media" style="margin-top: 30px">
    <img class="mr-3" src="https://cdn.iconscout.com/icon/premium/png-128-thumb/australia-49-569656.png" alt="Generic placeholder image">
    <div class="media-body" style="margin-top: 30px">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
</ul>
<!--end list media-->

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </div>
 </div>
<footer class="bottom-footer"><p>This is for monitoring data<br/>2018- gnss data version 18.10.9<br/>author:Jing Gao</p></footer>

  </body>

</html>